@{
    ViewData["Title"] = "Home Page";
}
@if (TempData["Mensaje"] != null)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>@TempData["Mensaje"]</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<div class="">
    <h1 class="display-4 text-white fw-bold fs-[80px] mt-5 text-wrap w-50 ms-5 ps-5">El Mejor lugar para tus vacaciones</h1>
    <p class="text-white fs-2 fw-light w-50 ms-5 ps-5 mb-5">
        Donde el mar, la comodidad y la relajación se encuentran. ¡Bienvenidos a <span class="fw-bold">Beach Hotel!</span>
    </p>

    <a asp-area="" asp-controller="Reservas" asp-action="Create" class="botonR text-decoration-none fw-bold mt-4 fs-5">Reservar</a>
   
</div>
